.DS_Store
CMakeLists.txt.user
cmake-build-*/
build/native
build/14.04
build/18.04
build/cmake
build/CMakeFiles
build/src
build/libs
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/CTestTestfile.cmake
build/Makefile
build/SniperConfig.cmake
build/DartConfiguration.tcl
